{% extends 'notifications_manager/base.html' %}
{% load static %}

{% block css %}
<title>Настройка почтового домена</title>
<link rel="stylesheet" href="{% static 'css/guide.css' %}">
{% endblock %}

{% block content %}
<main>
    <p>
Настройка почты Чтобы рассылка доходила до получателей и не попадала в папку «Спам» нужно правильно настроить почту:
 подключить корпоративный домен и настроить DKIM, SPF и DMARC.</p>
 <h1>Корпоративная почта</h1>
<p>Корпоративная почта — электронный адрес, привязанный к домену компании. 
Обычно имеет формат yourname@companyname.com, где имя ящика и значок @ отображают домен сайта компании.</p>

<h1>Зачем она нужна?</h1>
<p>
— Повышает доверие пользователей к бренду. Получатель видит, что ему пишут представители бренда.
<br>
— Повышает доверие почтового сервиса к вам. Если отправлять сотни писем одновременно с личной почты, они окажутся в спаме. Массовые рассылки можно отправлять только с корпоративных доменов.
<br>
— Удобно распределяет письма. Можно сделать отдельные адреса для разных отделов или пользователей, чтобы логично распределить поток сообщений.
Как завести корпоративную почту на своём домене
<br>
Есть два варианта:
<br>

— Использовать свой сервер. Понадобятся специалисты для настройки и последующей поддержки.
<br>
— Создать корпоративную почту в специальном сервисе, например, в Яндекс 360, VK WorkSpace или на reg.ru.
<br>
На разных платформах корпоративная почта запускается через похожие шаги: подтверждение прав на до
мен, настройка MX- и SPF-записей, а также добавление DKIM-подписи. После этого следует начать использование корпоративной почты, добавив пользователей и администраторов, а при необходимости создав отделы.
<br>
После этого почту можно будет интегрировать с нашим сервисом и запускать рассылки — у сервисов б
удет к ней больше доверия. Подробнее о настройках ниже.
<br>
Настройка DKIM и SPF
<br>
DKIM — DomainKeys Identified Mail — метод обнаружения отправки поддельных писем. Он используется, чтобы проверить, что письмо пришло именно с указанного домена и в процессе не изменилось.
<br>
DKIM состоит из двух ключей: публичного и приватного. Публичный ключ публикуется в DNS домена. Когда письмо отправляется, сервер отправителя добавляет в заголовок письма приватный ключ, а сервер получателя проверяет, соответствует ли он публичному. Если значение соответствует, значит, с письмом и доменом всё в порядке.
<br>
SPF-запись — это список «разрешённых» серверов, которым можно отправлять письма от имени вашего домена. SPF подтверждает, что вы разрешили серверу, с которого отправляете рассылки, использовать ваше доброе имя. Без SPF-записей кто угодно мог бы представиться вами.
<br>
Настройка
<br>
Общая инструкция по настройке SPF и DKIM:
<br>

#1: Зайдите в панель управления вашего хостинга, на котором находится домен.
<br>
#2: Найдите настройки DNS или настройки доменных имён. Здесь нужно будет добавить две TXT-записи: одну для DKIM, вторую для SPF.
<br>
Чтобы получить текстовые записи для своего домена, зайдите на страницу настройки DKIM/SPF на платформе Stream Telecom. Введите домен в поле и нажмите кнопку «Добавить».
<br>
Вы получите две пары субдомена и значения: верхняя — для SPF, нижняя — для DKIM.
#3: Создайте две TXT-записи, скопировав эти значения из панели управления в форму на хостинге.
<br>
#4: Дождитесь, пока значения обновятся. Это может занять до 72 часов.
<br>
Настройка DMARC
<br>
DMARC (Domain-based Message Authentication, Reporting & Conformance) — инструкция для почтовых серверов, что делать с письмами, которые не прошли проверку через DKIM или выглядят подозрительно.
<br>
В записи DMARC сказано, что делать с письмом если SPF, DKIM или и то и другое не прошли проверку. Например:
<br>
none — ничего не делать, просто собирать отчёты.
<br>
quarantine — отправлять подозрительные письма в папку "Спам".
<br>
reject — отклонить такие письма.
<br>
DMARC также позволяет получать отчёты — информацию о том, какие письма прошли проверку, а какие нет.</p>
</main>
{% endblock %}
