{% extends 'notifications_manager/base.html' %}
{% load static %}

{% block css %}
<title>Быстрый старт</title>
<link rel="stylesheet" href="{% static 'css/guide.css' %}">
{% endblock %}

{% block content %}

<main>
    <h1>Быстрый старт</h1>
    <h2>Что нужно для работы с нами?</h2>
    <ul>
        <li>Почтовый домен</li>
        <li>Корпоративная почта. Подойдет от яндекс 360</li> 
        <li>Почтовый сервер, в том случае если вы не пользуетесь яндекс 360</li>
        <li>Учетная запись на нашем сайте</li>

    </ul>
    <h3>Для начала работы прочитайте инструкцию на главной странице</h3>
    <h2>Как настроить почту от яндекса?</h2>
    <h3>Как настроить почтовый домен?</h3>
    <p>Для этого нужно делегировать домен на яндекс и домен настроится автоматически. Чтобы делегировать домен нужно добавить в него два DNS сервера яндекс первичный и вторичный dns1.yandex.net и dns2.yandex.net</p>
    <h3>Как создать корпоративную почту?</h3>
    <p>Для того чтобы создать корпоративную почту нужно добавить в вашу компанию сотрудника и назначить ему адрес электронной почты.</p>
    <h2>Как настроить собственный почтовый сервер?</h2>
    <p>Для этого в интернете есть много инструкций, например эта.</p>
    <a href="https://serveradmin.ru/nastrojka-postfix-dovecot-postfixadmin-roundcube-dkim-na-debian/?ysclid=m5ngm9mgic542161842">Инструкция</a>

</main>

{% endblock %}