main {
    width: 28vw;
    height: 29vh;
    background-color: white;
    padding: 20px;
    border: 6px solid rgb(202, 197, 197);
    border-radius: 15px;
    margin: auto;
    margin-top: 26vh;
}

h1 {
    text-align: center;
}

.form-input {
    width: 24vw;
    height: 3vh;
    border-radius: 5px;
    margin: 10px;
}

.button {
    width: 10vw;
    height: 3vh;
    border-radius: 6px;
    margin-left: 10px;
}