{% extends "notifications_manager/base.html" %}
{% load static %}

{% block css %}
<title>Notifications-sendpy</title>
<link rel="stylesheet" href="{% static 'css/set_app_password.css' %}">
{% endblock %}

{% block content %}
<div id="container">
<main>
    <div class="errors">
        {% if errors %}{{ errors }}{% endif %}
    </div>
<form action="{% url 'notifications_manager:set_app_password' %}" method="post">
    {% csrf_token %}
    {% if app_password %}
    <input type="text" name="app_password" placeholder="Пароль приложения" value="{{ app_password }}">
    {% else %}
    <input type="text" name="app_password" placeholder="Пароль приложения">
    {% endif %}
    <br>
    <div class="button">
    <button class="button-submit" type="submit">Сохранить</button>    
    </div>
    
    <div class="button">
    <a href="{% url 'notifications_manager:set_mail_server' %}">Далее</a>
    </div>
</form>
</main>
</div>
{% endblock %}

