main {
    width: 28vw;
    height: 23vh;
    background-color: white;
    padding: 20px;
    border: 6px solid rgb(202, 197, 197);
    border-radius: 15px;
    margin: auto;
    margin-top: 26vh;
    text-align: center;
}

main h1 {
    text-align: center;
}

.form-input {
    width: 24vw;
    height: 3vh;
    border-radius: 5px;
    margin: 10px;
}

.button-container {
    margin-left: auto;
    margin-right: auto;
    width: 24vw;
    text-align: right;
}

.button {
    width: 150px;
    height: 3vh;
    border-radius: 6px;
}