{% extends "notifications_manager/base.html" %}
{% load static %}

{% block css %}
<title>Notifications-sendpy</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h1>Сервис для отправки нотификаций Notifications-sendpy</h1>
        <h4>Внимательно ознакомьтесь с инструкцией по работе с сервисом прежде чем начинать работу</h4>
        <h2>Как начать работу?</h2>
        <div class="user-guide">
            <p>1. Пройдите регистрацию и войдите в аккаунт При регистрации используйте вашу корпоративную почту. 
            Вы можете использовать свою личную почту, но в таком случае письма отправленные с этого сервиса будут попадать в спам.
            Из личных почт принимаются только яндекс и гугл почта. 

        </p>
        </div>
        <div class="user-guide">
            <p>2. Для следующих шагов необходимо будет настроить вашу электронную почту. 
                Инструкция для яндекса актуальна и для корпоративной почты. Для этого нужно зайти с корпоративной почты.</p>
        </div>
        <h2>Инструкция для яндекса</h2>
        <div class="user-guide">
            <p>1. Перейдите в сервис "Яндекс.Почта" Затем "настройки", "Все настройки"</p>
        </div>
        <img src="{% static 'img/user_guide_image_1.png' %}" alt="">
        <div class="user-guide">
            <p>2. Перейдите в раздел "почтовые программы" и проставьте везде галочки в разделе 
                "Разрешить доступ к почтовому ящику с помощью почтовых клиентов"</p>
        </div>
        <img src="{% static 'img/user_guide_image_2.png' %}" alt="">
        <div class="user-guide">
            <p>3. Далее "Безопасность", "Пароли приложений"</p>
        </div>
        <img src="{% static 'img/user_guide_image_3.png' %}" alt="">
        <div class="user-guide">
            <p>4. Создайте пароль приложения: придумайте ему название и сгенерируйте пароль. 
                Внимание! Он отображается один раз, так что не забудьте его сохранить</p>    
        </div>
        <img src="{% static 'img/user_guide_image_4.png' %}" alt="">
        <h2>Инструкция для gmail</h2>
        <div class="user-guide">
            <p>1. Если у вас не включена двухэтапная аутентификация, то перейдите по этой
                <a href="https://myaccount.google.com/u/0/lesssecureapps?pli=1&rapt=AEjHL4NqQ6ZjeIJtvf8vvNc3NLrSsldeqmJh-iKeZ-WhQsI3txu4qN2_L3llwaalD9Sz_3yY__kNYUtFSWN4_58vZVKVFltOLNzuczeQcpfbaPucbItPqs4">ссылке</a>
                и включите доступ ненадежных приложений</p>
        </div>\
        <div class="user-guide">
            <p>2. Если у вас включена двухэтапная аутентификация, то перейдите по той же ссылке 
                и нажмите "Подробнее". Справа выскочит меню и в нем нужно будет нажать "Создайте пароль приложения" 
                Далее просто следуйте указаниям google</p>
        </div>
        <img src="{% static 'img/user_guide_image_5.png' %}" alt="">
        <img src="{% static 'img/user_guide_image_6.png' %}" alt="">
        <h2>Как отправить сообщения</h2>
        <div class="user-guide">
        <p>1. Создайте рассылку в верхнем меню</p>
        </div>
        <div class="user-guide">
        <p>2. Загрузите электронную таблицу с емейлами</p>
        </div>
        <div class="user-guide">
        <p>3. Добавьте свой SMTP пароль (пароль приложений)</p>
        </div>
        <div class="user-guide">
            <p>4. Добавьте настройки сервера. При отправке с личной почты(не рекомендуется) этот этап можно пропустить. 
            </p>
        </div>
        <div class="user-guide">
        <p>5. Сверстайте сообщение в редакторе или загрузите свою верстку, а также не забудьте добавить заголовок</p>
        </div>
        <div class="user-guide">
        <p>6.. Нажмите кнопку "Отправить"</p>
       </div>
    </main>
{% endblock %}