{% extends "notifications_manager/base.html" %}
{% load static %}

{% block css %}
<title>Notifications-sendpy</title>
<link rel="stylesheet" href="{% static 'css/set_smtp_password.css' %}">
{% endblock %}

{% block content %}
<div id="container">
<main>
    <div class="errors">
        {% if errors %}{{ errors }}{% endif %}
    </div>
<form action="{% url 'notifications_manager:set_smtp_password' %}" method="post">
    {% csrf_token %}
    {% if app_password %}
    <input type="text" name="smtp_password" placeholder="Пароль для входа на smtp сервер" value="{{ app_password }}">
    {% else %}
    <input type="text" name="smtp_password" placeholder="Пароль для входа на smtp сервер">
    {% endif %}
    <br>
    <div class="button-container">
        <button class="button-submit" type="submit">
        <div class="button">
            <p>Сохранить</p>    
        </div> 
        </button>
        <a class="next-button" href="{% url 'notifications_manager:set_mail_server' %}">      
        <div class="button">
        <p>Далее</p>
        </div>
        </a>
    </div>     
</form>
</main>
</div>
{% endblock %}

